<ion-view class="welcome-view" cache-view="false" hide-nav-bar="true">
     <ion-content style="background: url(img/login.jpg) center; background-size: cover;" scroll="false">
        <div class="hero no-header flat" style="margin-top: 10px;">
            <div class="content">
                <div class="app-icon"></div>
                <h1>F.U.G.</h1>
                <h4>Food User Group</h4>
            </div>
        </div>
        <div class="list">
            <ion-md-input ng-model='lemail' placeholder="email" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input ng-model='lpassword' placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding" style="padding-bottom: 0 !important;">
            <button class="button button-full button-assertive ink" ng-click="logIn(lemail,lpassword)">Login</button>
        </div>
        <div class="center-textAlign">
            <a class="ink" style="color: white;" ng-click="openModal()">Sign up</a>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900" ng-click="googleLogin()">Google+</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click="facebookLogin()">Facebook</button>
        </div>
    </ion-content>
<!--   <ion-content scroll="false" class="" style="background-color: transparent;">
      <div class="top-content row">
        <div class="app-copy col col-center">

          <h1 class="app-title" style="margin-top: 15vh; color: white; font-family: 'Julius Sans One', sans-serif;">Caboodle</h1>
            
             <div class="row centerRow" style="margin-top: 10vh;">

            </div>
        </div>
      </div>
      
      <div class="bottom-content row">
        <div class="col col-bottom">
          <a class="google-sign-in button-large button button-block" ng-click="googleLogin()">
            Sign In With Google
          </a>
            <a class="facebook-sign-in button-large button button-block" ng-click="googleLogin()">
            Sign In With Facebook
          </a>
          <a class="dont-have-facebook button button-clear button-block"  ng-click="openModal()" style="opacity: 0.5;">
            Sign in with email
          </a>
          <section ng-include="'views/partials/legal-notice.html'"></section>
        </div>
      </div>
  </ion-content> -->
</ion-view>


<script id="signUp-modal.html" type="text/ng-template">
  <div class="modal">
<!--
    <ion-header-bar style="background-color: rgb(237, 111, 112);">
      <h1 class="title" style="color: white;">Create New List</h1>
      <button class="button button-clear button-positive" style="color: white;" ng-click="modal.hide(); didSubmitLogin = !didSubmitLogin">Cancel</button>
    </ion-header-bar>
-->
      <img class="blurry-img" src="img/151011_Riposte_Nova__006_F2_670.jpg" />
    <ion-content scroll="false" class="" style="background-color: transparent;">
        <div class="row">
            <button class="button button-clear" ng-click="closeModal();" style="opacity: 0.6;">Close</button>
        </div>

    
            <form style="margin-top: 20vh;">
            <div class="list list-inset-cp">
                <label class="item item-input" style="background-color: transparent; border: 0;">
<!--                    <span class="input-label">Name</span>-->
                        <input placeholder="Name" type="text" ng-model="sname" style="border-bottom: 1px solid white; color: whitesmoke; font-size: large;" required>
                </label>
                <label class="item item-input" style="background-color: transparent; border: 0;">
<!--                    <span class="input-label" >Email</span>-->
                    <input placeholder="Email" type="text" ng-model="semail" style="border-bottom: 1px solid white; color: whitesmoke; font-size: large;" required>
                </label>
                <label class="item item-input"style="background-color: transparent; border: 0;">
<!--                    <span class="input-label" >Password</span>-->
                    <input placeholder="Password" type="password" ng-model='spassword' style="border-bottom: 1px solid white; color: whitesmoke; font-size: large;" required>
                </label>
            </div>

                <div class="padding" style="padding-bottom: 0 !important;">
            <button class="button button-full button-assertive ink" ng-click="didSubmitLogin=false;signUp(sname,semail,spassword)">Sign Up</button>
            </div>
                
          </form>
           
        
    </ion-content>
  </div>
</script>

