<ion-view class="welcome-view" cache-view="false" hide-nav-bar="true">
    
  <ion-content scroll="false" style="background-color: #2C3E50;">
    <div multi-bg="['img/bg-img2.jpeg']" helper-class="facebook-welcome-bg">
      <div class="top-content row">
        <div class="app-copy col col-center">

          <h1 class="app-title" style="margin-top: 15vh; color: white;">Decisions</h1>
<!--
          <p class="app-tagline">
            Your tag line
          </p>
-->

             <div class="row centerRow">
      <img src="../img/chicken.png" class="col col-30"/>
         <img src="../img/hamburger.png" class="col col-30"/>
         <img src="../img/hotdog.png" class="col col-30"/>
    </div>
        </div>
      </div>
      <div class="bottom-content row">
        <div class="col col-bottom">
          <a class="google-sign-in button-large button button-block" ng-click="googleLogin()">
            Sign In With Google
          </a>
            <a class="facebook-sign-in button-large button button-block" ng-click="googleLogin()">
            Sign In With Facebook
          </a>
          <a class="dont-have-facebook button button-clear button-block"  ng-click="dontLogin()">
            Log in as a guest
          </a>
          <section ng-include="'views/partials/legal-notice.html'"></section>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
