
<ion-view view-title="Create New List"  cache-view="false">
        
    <ion-content>         
        <div class="row">

            <!-- <form class="">
                <input type="text" class="form-control" id="listInputField" g-places-autocomplete options="autocompleteOptions" ng-model="place"/>
            </form>
            <button class="button button-icon icon ion-ios-bolt-outline addToListButton" ng-click="addToList(place)"></button> -->
           <!--  <button class="button button-clear col outline-button" ng-show="placeList.length > 2" ng-click="saveList()" style="color: green; border: 1px solid green;">Save</button> -->
           <div class="list main">


            <div add-input class="middle">
                
                <div class="middle-bottom-container">
                    <button class="button button-clear col col-100" style="color: rgb(127, 197, 195);"><i class="icon ion-plus"></i> add place</button>
                </div>
            </div>


        </div>
        </div>

       
        
        <div class="row" ng-show="placeList.length >= 2">
        <button class="button button-balanced col" ng-click="saveList()" style="margin-top: 15px;">Save</button>
        
        </div>
        
<!--
            <h5>Result:</h5>
            <pre>{{place | json}}</pre>
-->
    </ion-content>

</ion-view>
