<link href="css/tab-listDetail-css.css" rel="stylesheet" />
<ion-view hide-tab-bar hide-nav-bar="false" hide-back-button="true" view-title="Add List" cache-view="false">


    <ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white; margin-right: 10px;" ng-click="myGoBack(); ">
          <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>    
    <ion-content class="has-header" scroll="true">
        
          <div class="row" style="background-color: rgba(237, 111, 112, 0.1);">
                    <input type="text" class="form-control col col-80" id="listInputField" placeholder="type here!" g-places-autocomplete options="autocompleteOptions" ng-model="place" style="background-color: rgba(237, 111, 112, 0.1); padding: 25px 15px;"/>
                        <button class="button button-clear col col-20" ng-click="addToList(place)" style="color: rgb(127, 197, 195);">
                            <span><i class="icon ion-plus-round"></i></span>
                        </button>
                    </div>


        <div class="list card" ng-repeat="item in placeList track by $index">
                <div class="item item-avatar">
                    <div class="list-sidebar-image" style="background-image: url({{item.icon}})">
<!--                        <img src="{{item.icon}}">-->
                    </div>
                    <h2 class="wrap-word">{{item.name}}</h2>
                    <p class="wrap-word">{{item.vicinity}}</p>
                    <span ng-repeat="n in [] | range:item.price_level"><i class="ion-social-usd"></i></span>
                    <button class="button button-flat button-clear button-assertive item-close-button" ng-click="removePlace($index)"><i class="ion-ios-close-outline"></i></button>
                </div>
            </div>
        
        
        <div class="row" style="">
          <div class="col col-80" style="margin: 0 auto;">
                <button class="button button-full button-outline spin-button-custom-color-outline" ng-show="placeList.length >=2" ng-click="goNameList(listName);">Next</button>

            </div>
        </div>
    </ion-content>

</ion-view>


