<link href="css/tab-editMyList-css.css" rel="stylesheet" />

<ion-view hide-tab-bar hide-nav-bar="false" hide-back-button="true" view-title="Viewing List" cache-view="false">

<ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white; margin-right: 10px;" ui-sref="tab.myList">
          <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>  
    

    
<!--
    <div class="bar bar-header bar-assertive-900">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <button class="button button-icon button-clear ion-ios-arrow-left" ui-sref="tab.myList"></button>
            </span>
        </div>
        <div class="h1 title title-left light">Normal Header</div>
    </div>
-->

    
  <ion-content scroll="false" style="background-color: whitesmoke;" class="has-header" >
      <div class="hero"  style="height: 30%; background-image: url(img/12.png);">
          <div class="hero-content">
        <div class="row">
            <div class="col col-25">
                <button class="button button-flat button-icon ion-share" ng-click="shareThisList();" style="font-size: x-large;">
                </button>
            </div>
            <div class="col col-50">
                <div class="center-div" >
                    <h4>{{listItem.ListName}}</h4>
                    <h5>{{listItem.creater_name}}</h5>
                </div>
            </div>
            <div class="col col-25">
                <button class="button button-flat">
                    Edit
                </button>
            </div>
        </div>
          
      <div class="row" style="">
          <div class="col col-80" style="margin: 0 auto;">
                <button class="button button-energized-900" ng-click="goSpin()" style="width: 100%;">Spin</button>

            </div>
        </div>
</div>
<!--        <img src="img/tile2.jpg" class="headerImage"  /> -->
      </div>
      <ion-scroll style="height: 70%;">
<!--         <div class="item item-thumbnail-left item-icon-right editMyListItem" ng-repeat="items in listItem.places track by $index">
            <img src="img/steak.JPG" />
            <span class="item-text-wrap">{{items.name}}</span><br>
            <span class="item-text-wrap">{{items.vicinity}}</span><br>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star-half"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>

        </div> -->

        <div class="list card" ng-repeat="item in listItem.places track by $index">
            <div class="item item-avatar">
                <img src="{{item.icon}}">
                <h2 class="wrap-word">{{item.name}}</h2>
                <p class="wrap-word">{{item.vicinity}}</p>
             </div>
        </div>
    </ion-scroll>
  </ion-content>
</ion-view>