
<link href="css/ng-tags-input.bootstrap.css" rel="stylesheet">
      <link href="css/ng-tags-input.css" rel="stylesheet">
<ion-view hide-nav-bar="false" view-title="My Lists" cache-view="false">

<!--
    <ion-header-bar class="bar-stable item-input-inset"  ng-init="showInputBar = false; didStartEditing = false;">

      <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="$ionicGoBack();" ng-hide="showInputBar">
        Back
      </button>
        
        <div class="title">
            Add Item
        </div>

    </ion-header-bar>
-->

    <ion-content ng-init="publicList = true;">
      <div class="list">
         <label class="item item-input">
                    <input placeholder="Name Your List" type="text" ng-model="listName">
                </label>
          <ion-toggle ng-model="publicList" ng-checked="true" toggle-class="toggle-calm">Make Your List Public?</ion-toggle>
          <ion-toggle ng-model="anon" toggle-class="toggle-calm" ng-checked="false" ng-show="publicList">Post anonymously?</ion-toggle>
<!--
          <label class="item item-input">
                    <input placeholder="Tags (optional)" type="text">
            </label>
-->
          <tags-input ng-model="tags">
            <auto-complete source="loadTags($query)"></auto-complete>
          </tags-input>
        </div>
        
        
        <button class="button button-full button-energized" ng-click="saveList(listName,tags,publicList,anon);">Next</button>

        
    </ion-content>

</ion-view>

