<link href="css/tab-listDetail-css.css" rel="stylesheet" />
<ion-view hide-tab-bar hide-nav-bar="false" hide-back-button="true" view-title="Add List" cache-view="false">


    <ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white; margin-right: 10px;" ui-sref="tab.myList">
          <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>    


<!--     <div class="bar bar-header bar-assertive-900">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <button class="button button-icon button-clear ion-ios-arrow-left" ui-sref="tab.myList"></button>
            </span>
        </div>
        <div class="h1 title title-left light">Normal Header</div>
    </div>
     -->
    <ion-content class="has-header" scroll="true">
        

          <div class="row" style="background-color: rgba(237, 111, 112, 0.1);">
                    <input type="text" class="form-control col col-80" id="listInputField" placeholder="type here!" g-places-autocomplete options="autocompleteOptions" ng-model="place" style="background-color: rgba(237, 111, 112, 0.1); padding: 25px 15px;"/>
                        <button class="button button-clear col col-20" ng-click="addToList(place)" style="color: rgb(127, 197, 195);">
                            <span><i class="icon ion-plus-round"></i></span>
                        </button>
                    </div>

          
<!--
        <div class="">
            <ion-scroll style="height: 70vh;">
                <div class="list">
                    <div class="item" ng-repeat="item in placeList track by $index">
                    {{item.name}}
                    </div>
                </div>
            </ion-scroll>
        
        </div>
-->

        <ion-list>
        <ion-item ng-repeat="item in placeList track by $index" class="item item-thumbnail-left" ng-click="goToEditListPage(list);" style="padding: auto; height: auto;">
        <img src="{{item.icon}}" />
            <div style="padding: 8px 54px 16px 106px;">
          
               <span class="item-text-wrap">{{item.name}}</span><br>
                <span class="item-text-wrap">{{item.vicinity}}</span><br>
                <i class="ion-social-usd"></i>
                <i class="ion-social-usd-outline"></i>
                <span style="font-size: smaller; margin-left: 10px;">0.14 mi</span>
          </div>
            <ion-option-button class="button-assertive">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>

        
<!--
        <ion-list>
            <ion-item ng-repeat="item in placeList track by $index" class="item item-thumbnail-left">
                <img src="img/steak.JPG" />
                
                <span class="item-text-wrap">{{item.name}}</span><br>
            <span class="item-text-wrap">More address info here</span><br>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star-half"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i><br />
            <span style="font-size: small;">0.14 mi</span>
                <ion-option-button class="button-assertive">
                    Delete
                </ion-option-button>
            </ion-item>
            
        </ion-list>
-->
              
        <div style="height: 15vh;">
      <button class="button button-full button-energized" ng-show="placeList.length >=2" ng-click="goNameList(listName);">Next</button>
            </div>
    </ion-content>

</ion-view>


