<link href="css/tab-editMyList-css.css" rel="stylesheet" />

<ion-view hide-tab-bar hide-nav-bar="true" view-title="Viewing List" cache-view="false">

    <ion-header-bar class="bar-stable item-input-inset"  ng-init="showInputBar = false; didStartEditing = false;">

      <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goBackAndShowTabBar(); $ionicGoBack();" ng-hide="showInputBar">
        Back
      </button>
        
        <div class="title" style="color:white;">
            Add Item
        </div>

    </ion-header-bar>
    
  <ion-content scroll="false" style="background-color: whitesmoke;" >
      <div class="hover" style="height: 30%;">
      <div class="row row-center" style=";">
        <div class="" style="margin: 0 auto;" >
            <h4>{{listItem.ListName}}</h4>
            <h5>{{listItem.creater_name}}</h5>
          </div>
  
      </div>
          <button class="button button-clear likeButton" ng-click="editThisList();" style="color:black; font-size:inherit;" >Edit</button>
          <button class="button button-icon ion-share downloadButton" ng-click="shareThisList();">
          </button>
          
      <div class="row" style="">
          <div class="col col-80" style="margin: 0 auto;">
<!--
                <button class="button icon-left {{heartClass}}" ng-click="likeThisList();" style="">Like</button>
            
                <button class="button icon-left ion-arrow-down-a" style="">Download</button>
-->
           

                <button class="btn btn-warning" ng-click="goSpin()" style="width: 100%;">Spin</button>
            </div>
        </div>

<!--        <img src="img/tile2.jpg" class="headerImage"  /> -->
      </div>
      
<!--
      <ion-scroll style="height: 65%; padding-bottom: 10px;">
      <div class="list">
        <div class="item item-thumbnail-left" ng-repeat="items in nearbyListPlaces track by $index">
            <img src="../img/steak.JPG" />
            <span class="item-text-wrap">{{items.name}}</span><br>
            <span class="item-text-wrap">{{items.vicinity}}</span><br>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star-half"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
        </div>
      </div>
          </ion-scroll>
-->
      <ion-scroll style="height: 70%; padding-bottom: 5px;">
      <div class="list editListItems">

        <div class="item item-thumbnail-left item-icon-right" ng-repeat="items in listItem.places track by $index">
            <img src="img/steak.JPG" />
            <span class="item-text-wrap">{{items.name}}</span><br>
            <span class="item-text-wrap">{{items.vicinity}}</span><br>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star-half"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i><br />
            <i class="icon ion-close" ng-show="editButtonClicked" style="font-size: large; color: red;"></i>
        </div>
      </div>
          </ion-scroll>
      
  </ion-content>
</ion-view>