
<link href="css/tab-myList-css.css" rel="stylesheet" />
<ion-view view-title="My Lists" hide-nav-bar="false" cache-view="false">


<!--
     <div class="bar bar-header bar-assertive-900">
        <div class="h1 title title-left light">My List Custom Bar</div>
        <div class="buttons buttons-right header-item">
             <span class="right-buttons">
                <button class="button button-energized-900 button-fab" ui-sref="tab.listDetails"><i class="icon ion-plus"></i></button>
            </span>  
        </div>
    </div>
-->

<!--
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
-->
    <ion-content ng-class="{expanded:isExpanded}" class="">
<!--
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
-->
        <ion-list class="animate-ripple" >
            <ion-item class="item item-avatar myListItem item-remove-animate" ng-repeat="list in myLists track by $index" my-post-repeat-directive='mylist' ng-click="goToEditListPage(list);">
            
                <span class="avatar"><img class="avatar" src="img/tile6.jpg"></span>
           <div class='itemc' style="padding: 0px 49px 16px 95px;">
                    <h2 class="item-text-wrap">{{list.ListName}}</h2>
                    <p class="myListTagsContainer"><span class="myListTags" ng-repeat='tag in list.tags'>#{{tag.text}}</span></p>

            </div>       


            <ion-option-button class="button-positive" ng-click="shareListWithFriends(list)">
                      Share
                    </ion-option-button>
                      <ion-option-button class="button-assertive" ng-click="deleteList(list)">
                      Delete
                    </ion-option-button>
             </ion-item>
      </ion-list>

        
        <ion-list class="shared-lists animate-ripple">
        <ion-item ng-repeat="(k,v) in myTableLists track by $index" class="item item-icon-right item-remove-animate item-avatar myListItem" ng-click="goToEditListPage(k);" my-post-repeat-directive='mylist'>
            <i class="icon ion-ios-people myListGroupIcon" style="color: black;"></i>
            
            <div class="item-avatar item-icon-right" style="padding-top: 16px;">
                <span class="avatar"><img class="avatar" src="img/tile2.jpg"></span>
                    <h2 class="item-text-wrap">{{v.ListName}}</h2>
                     <p class="myListTagsContainer"><span class="myListTags" ng-repeat='tag in v.tags'>#{{tag.text}}</span></p>
<!--                     <p ng-repeat='tag in v.tags' style="">#{{tag.text}}</p>
 -->
            </div>  
            
            <ion-option-button class="button-assertive" ng-click="deleteTable(k)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>

</ion-view>



<script id="shareListWithFriends-Popup.html" type="text/ng-template">
  <div>
      <div class="item-input-inset" style="padding-left: 0; padding-right: 0;">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search_bar">
        </label>
      </div>
      <ul class="list">
        <li class="item item-checkbox" ng-repeat="(k,v) in friends | filter:search_bar">
          <label class="checkbox">
            <input type="checkbox" ng-model="checked" ng-click="addFriendToList(v, checked);">
          </label>
            {{v.name}}  
          </li>
      </ul>
  </div>
</script>
