
<ion-view hide-tab-bar hide-nav-bar="true" view-title="My Lists" cache-view="false">
    <ion-header-bar class="bar-positive item-input-inset"  ng-init="showInputBar = false; didStartEditing = false;">

      <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="$ionicGoBack();" ng-hide="showInputBar">
        Back
      </button>
        
        <div class="title">
            Add Item
        </div>

    </ion-header-bar>
    <ion-content>
      <div class="list">
         <label class="item item-input">
                    <input placeholder="Name Your List" type="text" ng-model="listName">
                </label>
          <ion-toggle ng-model="publicList" toggle-class="toggle-calm">Make Your List Public?</ion-toggle>
          <label class="item item-input">
                    <input placeholder="Tags (optional)" type="text">
            </label>
        </div>
        
        
        <button class="button button-full button-energized" ng-click="goToListDetail();">Next</button>

        
    </ion-content>

</ion-view>

