
<ion-view view-title="Decision Table" cache-view="false">
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-plus-round" ng-click="addNewTable()">
        
      </button>
    </ion-nav-buttons>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="(k,v) in myTableLists" class="item item-thumbnail-left" >
          {{v.tableName}}
          <img src="img/steak.jpg" />
          </ion-option-button>
            <ion-option-button class="button-assertive" ng-click="deleteList(k)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>

</ion-view>
