<link href="../css/tab-myItemDetails-css.css" rel="stylesheet" />
<ion-view hide-tab-bar hide-nav-bar="false" hide-back-button="true" view-title="Viewing List" cache-view="false">

    <ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white;" ng-click="$ionicGoBack();">
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  <ion-content scroll="false" style="">
      <div class="hover" style="background-color: whitesmoke;">
          <div class="row" style="background-color: whitesmoke;">
        <div class="col col-center" style=""><img src="img/adam.jpg" style="width: 130px; display: block; margin: 0 auto; border-radius: 50%; border: 3px double rgb(127, 197, 195);"> </div>
<!--          <div class="col">1<br>2<br>3<br> 4<br>1<br>2<br>3<br> 4<br></div>-->
      </div>
      <div class="row row-center" style="">
        <div class="" style="margin: 0 auto; text-align: center;" >
            <h4>{{placeDetial.name}}</h4>
            <h5>{{placeDetial.vicinity}}</h5>
        </div>
        </div>
        <div class="row" style="">
          <div class="" style="margin: 0 auto;" >
              <i class="ion-social-usd"></i>
              <i class="ion-social-usd"></i>
          </div>
        </div>
      </div>
      

      <ion-scroll direction="x" style="width: 100%;">
          <div class="row">
          <img src="img/tile1.jpg" class="imageThumbnail" />
          <img src="img/tile2.jpg" class="imageThumbnail" />
          <img src="img/tile3.jpg" class="imageThumbnail" />
          <img src="img/tile4.jpg" class="imageThumbnail" />
          <img src="img/tile5.jpg" class="imageThumbnail" />
          <img src="img/tile6.jpg" class="imageThumbnail" />
      </div>
      </ion-scroll>
      

      <div class="list">
        <div class="item" href="#">
            <table>
            <tr ng-repeat='day in placeDetial.weekday_text'>
                <td class="tableDateCell" style="width: 50%;">{{day}}</td>            
            </tr>  
            </table>            
        </div>
    </div>
      
      
  </ion-content>
</ion-view>