
<ion-view hide-tab-bar hide-nav-bar="true" view-title="Add List" cache-view="false">
    <ion-header-bar class="bar-positive item-input-inset"  ng-init="showInputBar = false; didStartEditing = false;">

      <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="$ionicGoBack();" ng-hide="showInputBar">
        Back
      </button>
        
        <div class="" ng-hide="showInputBar">
            Add Item
        </div>
        
<div class="buttons buttons-right">
        <button class="button button-icon icon ion-plus-round" style="color: white;" ng-hide="showInputBar" ng-click="showInputBar = !showInputBar;">
      </button>
</div>

    <label class="item-input-wrapper" ng-show="showInputBar">
<!--    <i class="icon ion-ios-search placeholder-icon"></i>-->
    <input type="text" class="form-control" id="listInputField" placeholder="type here!" g-places-autocomplete options="autocompleteOptions" ng-model="place" ng-click=" didStartEditing = !didStartEditing"/>
  </label>
  <button class="button button-clear" ng-show="showInputBar && !didStartEditing" ng-click="showInputBar = !showInputBar;">
    Cancel
  </button>


    </ion-header-bar>
    
    <ion-content style="background-color: whitesmoke;" scroll="false">
<!--
          <div class="top-row">
          <div class="row">
          <h4 class="list_header">Name Your List</h4>
          </div>
        <label class="item item-input">
          <input type="text" ng-model="listName">
        </label>
        </div>
-->
        
          <div class="row" style="background-color: rgba(237, 111, 112, 0.1);">
                    <input type="text" class="form-control col col-80" id="listInputField" placeholder="type here!" g-places-autocomplete options="autocompleteOptions" ng-model="place" style="background-color: rgba(237, 111, 112, 0.1); padding: 25px 15px;"/>
                        <button class="button button-clear col col-20" ng-click="addToList(place)" style="color: rgb(127, 197, 195);">
                            <span><i class="icon ion-plus-round"></i></span>
                        </button>
                    </div>
          <!-- -->
<!--          <div class="middle-row">-->
<!--
        <ion-scroll style="margin-top: auto; height:300px; width: 100%; background-color: white;">
        <div class="list row" style="padding-right: 0; padding-left:0;">
            
                <div class="">
                    
                    <div class="row" style="background-color: rgba(237, 111, 112, 0.1);">
                    <input type="text" class="form-control col col-80" id="listInputField" placeholder="type here!" g-places-autocomplete options="autocompleteOptions" ng-model="place" style="background-color: rgba(237, 111, 112, 0.1); padding: 25px 15px;"/>
                        <button class="button button-clear col col-20" ng-click="addToList(place)" style="color: rgb(127, 197, 195);">
                            <span><i class="icon ion-plus-round"></i></span>
                        </button>
                    </div>
                    <div class="item item-button-right" ng-repeat="item in placeList track by $index" style="border: none; padding-top: 10px; padding-bottom: 10px;">
                        {{item.name}}
                        <hr />
                        <button class="button button-clear" ng-click="deletePlace($index)">
                            <i class="icon ion-close" style="color: red;"></i>
                        </button>
                    </div>
        </div>
       
            </div>
          </ion-scroll>
-->

<!--          </div>-->
          
          <!-- -->
        
        <div class="">
            <ion-scroll style="height: 45vh;">
                <div class="list">
                    <div class="item" ng-repeat="item in placeList track by $index">
                    {{item.name}}
                    </div>
                </div>
            </ion-scroll>
        
        </div>
              
        <div style="height: 15vh;">
      <button class="button button-full button-energized" ng-click="saveList(listName);">Done</button>
            </div>
    </ion-content>

</ion-view>
