<link href="css/tab-listDetail-css.css" rel="stylesheet" />
<ion-view view-title="Friend List" hide-nav-bar="false" cache-view="false">
<!--
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-person-add" ng-click="openModal()" style="color:white;">
        
      </button>
    </ion-nav-buttons>
-->

    <ion-content>
      

    <ion-list class="animate-ripple">
        <ion-item ng-repeat="(k,v) in friendList" class="item item-avatar" my-post-repeat-directive='mylist'>
          <img src="{{v.avatar}}" />
            <div class='itemc' style="padding: 16px 49px 16px 72px;">
            {{v.name}}<br>
            {{v.email}}
            </div>
          <ion-option-button class="button button-assertive less-padding" ng-click="deleteFriend(v)">
                delete
            </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>

</ion-view>

<script id="addFriend-modal.html" type="text/ng-template">
  <div class="modal">
<!--
    <ion-header-bar class="bar-teal-color">
      <h1 class="title">Add Friend</h1>
      <button class="button button-clear button-positive" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
-->
    <ion-content scroll="false" class="modal-background">
        <button class="button button-clear close-modal" ng-click="closeModal()" style="position: absolute; top: 0; right: 0;">Close</button>
        
      <div class="list" style="margin-top: 15vh;">
        <label class="item item-input">
<!--          <span class="input-label">Email</span>-->
          <input type="text" ng-model="email" placeholder="Friends email address" style="background-color: whitesmoke; opacity: 0.7;">
        </label>
          <div class="padding" style="padding-bottom: 0 !important;">
        <button class="button button-full button-outline button-custom-color-outline" ng-click="searchFriend(email)">Search For Friend</button>
          </div>
          <div class="row center-textAlign">
<!--        <label class="item item-input">-->
<!--          <span class="input-label">Result</span>-->
            <h4 style="color: white; margin-top: 8vh;" class="center-margin">{{friendname.$value}}</h4>
<!--        </label>-->
        </div>
      </div>

        <div class="padding" style="padding-bottom: 0 !important;">
      <button ng-show="friendname.$value.length > 0" class="button button-full button-outline button-custom-color-outline" ng-click="closeModal()">Add Friend</button>
        </div>
    </ion-content>
  </div>
</script>