
<ion-view view-title="Friend List" cache-view="false">
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-person-add" ng-click="openModal()">
        
      </button>
    </ion-nav-buttons>
    <ion-content>
      <ion-list class="list">
        <ion-item ng-repeat="friend in friendList" class="item item-avatar">
          <img src="{{friend.avatar}}" />
            {{friend.name}}
            <p>Macy's Systems and Technology</p>
          <ion-option-button class="button button-assertive" ng-click="deleteFriend(friend)">
                delete
            </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>

</ion-view>

<script id="addFriend-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title">Add Friend</h1>
      <button class="button button-clear button-positive" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="email">
        </label>
        <button class="button button-full button-energized" ng-click="searchFriend(email)">Search</button>
        <label class="item item-input">
          <span class="input-label">Result</span>
            {{searchResult}}
        </label>
      </div>

      <button class="button button-full button-energized" ng-click="closeModal()">Done</button>
    </ion-content>
  </div>
</script>