<ion-view hide-tab-bar view-title="Change Password" cache-view="false">
  <ion-content>
      <form style="margin-top: 20vh;">
      <div class="list list-inset">
          <label class="item item-input">
              <span class="input-label" >New name</span>
              <input type="text" ng-model="newitem.newn">
          </label>
      </div>
    </form>
    <a class="button button-assertive button-block button-outline" ng-click="changeName(newitem)">
          change name
        </a>
  </ion-content>
</ion-view>