<link href="css/spin-style.css" rel="stylesheet">
<ion-view view-title="Spin" cache-view="false">
  <ion-content>
    <h3>Spin Page</h3>
      <div class="container">
	<div class="right">
			<h4 class="randoms" id="ignored1"></h4>
			<h1 class="randoms" id="chosen"></h1>
			<h4 class="randoms" id="ignored2"></h4>
	</div>
	<div class="left">
			<h4 class="randoms" id="ignored3"></h4>
			<h1 class="randoms" id="ignored4"></h1>
			<h4 class="randoms" id="ignored5"></h4>
	</div>
</div>
      <button class="" ng-click="spinWheel()">click me</button>
      <button class="" ng-click="stopWheel()">stop me</button>
  </ion-content>
</ion-view>
