<ion-view view-title="My Account" cache-view="false" hide-back-button="true" hide-tab-bar>

    <ion-content ng-class="{expanded:$scope.isExpanded}" has-bouncing="true">
        <div class="hero slide-up" style="overflow: hidden;">
            <div class="content vertical-align-middle">
                <div class="avatar" style="background-image: url('{{avatar.$value}}');"></div>
                <h3><a class="dark">{{myName}}</a></h3>
            </div>
            <img src="img/food_bkgds/12.jpg" class="hero-bkgd-image blurry-img"/>
        </div>
        <div class="button-bar">
            <div class="col col-50 center-textAlign">
                <i data-count="{{likes.$value || 0}}" class="icon ion-ios-heart assertive badged_i badged_like"></i><br>Likes
<!--                <span style="font-size: x-large;"> {{likes.$value || 0}} </span>-->
            </div>
            <div class="col col-50 center-textAlign">
                <i data-count="{{downloads.$value || 0}}" class="icon ion-android-download positive badged_i badged_download"></i><br>Downloads
<!--                <span style="font-size: x-large;">{{downloads.$value || 0}}</span>-->
            </div>
          </div>
          
    <div class="list">
        <a class="item item-icon-right" ng-click="linkToPassword();">
            Change Password
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-right" href="#" ng-click="linkToChangeName();">
            Change Name
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-right" href="#" ng-click="linkToChangeAvatar();">
            Change Avatar
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-right" href="#" ng-click="linkToTutorial();">
            Tutorial
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
        <div class="row">
      <button class="button button-assertive button-block col col-80 center-margin" style="border-radius: 20px;" ng-click="showLogOutMenu()">
          Log Out
        </button>
            </div>
    </ion-content>

<!--   <ion-content>
      <div class="topOfAccountPage" style="background-color: whitesmoke;">
      <div class="row" style="padding-bottom: 15px; padding-top: 15px;">
        <div class="col col-center" style=""><img src="{{avatar.$value}}" style="width: 90px; display: block; margin: 0 auto; border-radius: 50%; border: 3px double rgb(127, 197, 195);"></div>
      </div>
      <div class="row"><h4 style="margin: 0 auto; display: table; padding-bottom: 15px;">Collin Partee</h4></div>
      <div class="row">
            <div class="col col-33" style="text-align: center;"><span># of Lists</span><br/> 3</div>
              <div class="col col-33" style="text-align: center;"># of Shared Lists<br /> 5</div>
              <div class="col col-33" style="text-align: center;"># of Likes<br /> 0</div>
    </div>
      </div>
      
    <div class="list">
        <a class="item item-icon-right" href="#" ng-click="linkToPassword();">
            Change Password
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-right" href="#" ng-click="linkToChangeAvatar();">
            Change Avatar
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
      <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">
          Log Out
        </a>


  </ion-content> -->
</ion-view>


