<ion-view view-title="Create a Group" cache-view="false" hide-back-button="true" hide-tab-bar>
<ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white; margin-right: 10px;" ng-click="$ionicGoBack()">
          <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>  
    
    <ion-content ng-class="{expanded:$scope.isExpanded}">
<!--
        <div class="hero" style="overflow: hidden;">
            <div class="content vertical-align-middle">
                <h3><a class="dark">How to Create a group</a></h3>
            </div>
            <img src="img/food_bkgds/10.jpg" class="hero-bkgd-image blurry-img"/>
        </div>
-->

<!--
        <div class="row">
      <button class="button button-assertive button-block col col-80 center-margin" style="border-radius: 20px;" ng-click="showLogOutMenu()">
          Log Out
        </button>
            </div>
-->
        <img src="img/addGroupTutorialFull.png" style="width: 100%;">
    </ion-content>
</ion-view>


