<ion-view view-title="Account" cache-view="false">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
      <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">
          Log Out
        </a>
<a class="button button-assertive button-block button-outline" ng-click="changePassWord()">
          change password
        </a>

  </ion-content>
</ion-view>
<script id="changepassword-Popup.html" type="text/ng-template">
  <div ng-controller="AccountCtrl">
      <form style="margin-top: 20vh;">
      <div class="list list-inset">
          <label class="item item-input">
              <span class="input-label">Old password</span>
                  <input type="password" ng-model="newitem.oldp">
          </label>
          <label class="item item-input">
              <span class="input-label" >New password</span>
              <input type="password" ng-model="newitem.newp">
          </label>
          <label class="item item-input">
              <span class="input-label" >re-enter new password</span>
              <input type="password" ng-model='newitem.reenter'>
          </label>
      </div>
    </form>
</div>
</script>