<ion-view view-title="Lists Near Me" cache-view="false">
  <ion-content>
      <div class="list" style="margin-bottom: 0;">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Search" ng-model="search_bar">
            </label>
        </div>
      </div>
      
    <ion-list>
        <ion-item ng-repeat="list in listDetail | filter:search_bar track by $index" class="item item-thumbnail-left" ng-click="goToEditListNearMe(list); hideTabsOnNextPage(true);">
                  
          {{list.ListName}}
           <img src="img/steak.jpg" />
        </ion-item>
      </ion-list>

      {{myplace}}
  </ion-content>
</ion-view>