
<ion-view view-title="My Lists">
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-plus-round" ng-click="addNewList()">
        
      </button>
    </ion-nav-buttons>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="list in myLists" class="item item-thumbnail-left" >
          {{list.ListName}}
          <img src="img/steak.jpg" />
            <ion-option-button class="button-positive" ng-click="shareList(list)">
            Share
          </ion-option-button>
            <ion-option-button class="button-balanced" ng-click="editList(list)">
            Edit
          </ion-option-button>
            <ion-option-button class="button-assertive" ng-click="deleteList(list)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>

</ion-view>
