<!--<link href="" rel="stylesheet" />-->

<ion-view hide-tab-bar hide-nav-bar="false" view-title="Change Avatar" cache-view="false" hide-back-button="true">
    
<ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white; margin-right: 10px;" ng-click="$ionicGoBack(); ">
          <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons> 
    
  <ion-content scroll="true" style="" class="animate-fade-slide-in" has-bouncing="true">
      <div style="relative">
      <table cellspacing="0" cellpadding="0" align="center" style="width: 100%;">
   <colgroup span="5"></colgroup>

   <tbody >
    <tr ><i ng-click="uploadAvatar()" class="center-textAlign avatar-padding-bottom ion-plus"></i></tr>
     <tr ng-repeat="days in dates" my-post-repeat-directive='mylist'>
         <td ng-repeat="day in days" class="center-textAlign avatar-padding-bottom">
             <div ng-click="selectAvatar(day);"><img class="avatar-image ink" ng-src='{{day}}' /><br></div>
             <!-- After seven iterations a new `<tr>` should be aded -->
        </td>
     </tr>
 </tbody>
 </table>
      </div>
  </ion-content>
</ion-view>