<ion-view hide-nav-bar="true" view-title="Viewing List" cache-view="false">
    <ion-header-bar class="bar-stable">

      <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goBackAndShowTabBar(); $ionicGoBack();">
        Back
      </button>
        
        <div class="title" style="color:white;">
            Add Item
        </div>

    </ion-header-bar>
  <ion-content scroll="false" style="height: 100%">
      <div class="hover" style="border-bottom: 2px solid black;">
      <div class="row row-center" style="background-color: whitesmoke;">
        <div class="" style="margin: 0 auto;" >
            <h4>List of Lists</h4>
            <h5>Boobs McGee</h5>
          </div>
  
      </div>
      <div class="row" style="background-color: whitesmoke;">
          <div class="" style="margin: 10px auto;">
                <button class="button">Like</button>
            
                <button class="button">Download</button>
           
                <button class="button" ng-click="goToSpin()">Spin</button>
            </div>
        </div>
      </div>
      
      <ion-scroll style="height: 70%">
      <div class="list">
        <div class="item item-thumbnail-left" ng-repeat="items in nearbyListPlaces track by $index">
            <img src="../img/steak.JPG" />
            {{items.name}}<br>
            <span class="card item-text-wrap">{{items.vicinity}}</span>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star-half"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
        </div>
      </div>
          </ion-scroll>
      
      
  </ion-content>
</ion-view>