<ion-view hide-tab-bar view-title="Change Password" cache-view="false">
  <ion-content>
      
      <form style="margin-top: 10vh;">
            <div class="list list-inset-cp">
                <label class="item item-input">
<!--              <span class="input-label">Old password</span>-->
                  <input type="password" ng-model="newitem.oldp" placeholder="Put your old password here" class="change-password-input-box">
          </label>
          <label class="item item-input">
<!--              <span class="input-label" >New password</span>-->
              <input type="password" ng-model="newitem.newp"  placeholder="Put your new password here" class="change-password-input-box">
          </label>
          <label class="item item-input">
<!--              <span class="input-label" >re-enter new password</span>-->
              <input type="password" ng-model="newitem.reenter"  placeholder="Re-enter your new password here" class="change-password-input-box">
          </label>
            </div>
                
          <div class="padding" style="padding-bottom: 0 !important;">
            <a class="button button-full button-outline button-custom-color-outline ink" ng-click="changePassWord(newitem)">
          change password
        </a>
          </div>
          </form>
      
<!--
      <form style="">
      <div class="list">
          <label class="item item-input">
              <span class="input-label">Old password</span>
                  <input type="password" ng-model="newitem.oldp" placeholder="Put your old password here" class="change-password-input-box">
          </label>
          <label class="item item-input">
              <span class="input-label" >New password</span>
              <input type="password" ng-model="newitem.newp"  placeholder="Put your new password here" class="change-password-input-box">
          </label>
          <label class="item item-input">
              <span class="input-label" >re-enter new password</span>
              <input type="password" ng-model="newitem.reenter"  placeholder="Re-enter your new password here" class="change-password-input-box">
          </label>
      </div>
    </form>
-->
      
      
    
  </ion-content>
</ion-view>

