<ion-view hide-tab-bar hide-nav-bar="false" hide-back-button="true" view-title="{{listName}}" cache-view="false">
    
    <!-- <div class="bar bar-header bar-assertive-900">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="myGoBack();"></button>
            </span>
        </div>
        <div class="h1 title title-left light">Spin Page</div>
    </div> -->
    
    <!-- <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="myGoBack();"></button>
    </ion-nav-buttons>  
 -->

    <ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white; margin-right: 10px;" ng-click="$ionicGoBack(); ">
          <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons> 

  <ion-content scroll="false" class="has-header" ng-init="message = '' ">
      <div class="top-of-page hero" style=" overflow: hidden; height: 50%;">
        <div class="shuffle_container" style="width: 80%; height:60%; margin: 0 auto; padding: 20px; position: relative; text-align: center;" >
            <h3 id="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; color: black;" ng-show="shuffleButtonPressed"></h3>  
        </div>

          <div class="row">
          <div style="margin: 0 auto; width: 100%;">

          <button class="button button-custom-color" style="width: 45%;" ng-click='shuffleButton();' ng-disabled='countDown!=0'>FUG!</button>
          <button class="button button-custom-color" style="width: 45%;" ng-click='viewPlace();' >Details</button>

          </div>
          </div>


          <div class="item item-input-inset spin-message-box" style="background-color: white;">
	        <label class="item-input-wrapper">
	            <input type="text" ng-model="message" placeholder="Type in your message...">
	        </label>
	        <a ng-click="sendMessage(message)" class="button button-flat button-icon ion-paper-airplane" style="" ng-disabled="message.length == 0">
	        </a>
	       </div>
          <img src="{{listImg}}" class="hero-bkgd-image blurry-img">
        </div>
      
      <ion-scroll direction="y" style="height: 50%;">
      	 <div class="list">
      	    <div class="item" ng-hide="chats" class="textCenter">
      	        <i class="icon ion-loading-c"></i> Loading Chats
      	    </div>
      	    <div class="item" ng-if="chats.length == 0" class="textCenter">
      	        <h4>No messages in this table. Send message to start.</h4>
      	    </div>
      	    <div class="item" ng-repeat="chat in chats | orderBy:'createdAt':true" type="item-text-wrap">
      	        <h4>{{chat.user}} :</h4>
      	        <span am-time-ago="chat.createdAt" class="item-note">
      	        </span>
      	        <p>{{chat.message}}</p><span class="timestamp" style="float:right; font-size: small; margin-bottom: -10px; margin-top: -5px;">{{chat.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}</span>
      	    </div>
      	</div>
      </ion-scroll>
      
  </ion-content>
</ion-view>
