<ion-view hide-tab-bar view-title="Change Password" cache-view="false" hide-back-button="true">
    <ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white; margin-right: 10px;" ng-click="$ionicGoBack(); ">
          <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons> 
  <ion-content scroll="false">
      
      <form style="margin-top: 10vh;">
            <div class="list list-inset-cp">
                
                <ion-md-input class="accountInput" placeholder="Old password here"ng-model='newitem.oldp' highlight-color="balanced" type="text" style="color:black;"></ion-md-input>
                
                 <ion-md-input class="accountInput" placeholder="New password here"ng-model='newitem.newp' highlight-color="balanced" type="text" style="color:black;"></ion-md-input>
                <ion-md-input class="accountInput" placeholder="New password again"ng-model='newitem.reenter' highlight-color="balanced" type="text" style="color:black;"></ion-md-input>
<!--
                <label class="item item-input">
                  <input type="password" ng-model="newitem.oldp" placeholder="Put your old password here" class="change-password-input-box">
          </label>
-->                
<!--
          <label class="item item-input">
              <input type="password" ng-model="newitem.newp"  placeholder="Put your new password here" class="change-password-input-box">
          </label>
-->             
<!--
          <label class="item item-input">
              <input type="password" ng-model="newitem.reenter"  placeholder="Re-enter your new password here" class="change-password-input-box">
          </label>
-->
                
            </div>
                
          <div class="padding" style="padding-bottom: 0 !important;">
            <a class="button button-full button-outline button-custom-color-outline ink" ng-click="changePassWord(newitem)">
          change password
        </a>
          </div>
          </form>    
  </ion-content>
</ion-view>

