<ion-view hide-tab-bar hide-nav-bar="false" hide-back-button="true" view-title="Viewing List" cache-view="false">
<!--
    <ion-header-bar class="bar-stable">

      <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goBackAndShowTabBar(); $ionicGoBack();">
        Back
      </button>
        
        <div class="title" style="color:white;">
            Add Item
        </div>

    </ion-header-bar>
-->

    <ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white; margin-right: 10px;" ng-click="$ionicGoBack(); ">
          <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons> 

    
     <!--    <div class="bar bar-header bar-assertive-900">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <button class="button button-icon button-clear ion-ios-arrow-left" ui-sref="tab.listNearMe"></button>
            </span>
        </div>
        <div class="h1 title title-left light">Normal Header</div>
    </div> -->

    
  <ion-content ng-class="{expanded:$scope.isExpanded}" class="has-header" style="background-color: whitesmoke;">
      
      <div class="hero" style="overflow: hidden; height: 45%;"><!-- class="hero slide-up" -->
            <div class="hero-content">
                <div class="row">
            <div class="col col-25">
<!--                 <button class="button button-flat button-icon ion-android-download" ng-click="downLoad();" style="font-size: x-large;">
                {{downloads.$value || 0}}
                </button> -->
            </div>
            <div class="col col-50">
                <div class="center-div" >
                    <img src="{{nearByListItem.listImg}}" style="max-height: 70px; max-width: 70px; border-radius: 50%;" />
                </div>
            </div>
<!--             <div class="col col-25">
                <button class="button button-flat button-icon {{heartClass}}" ng-click="likeThisList();"><span class="numOfLikes" style="padding: 5px; font-size: medium; color: white;">{{likes.$value || 0}}</span></button>
            </div> -->
        </div>
<!--
                <div class="avatar" style="background-image: url('{{nearByListItem.avatar}}'); max-height: 70px; max-width: 70px;"></div> -->
                
                <h3 class="black-color"><a>{{nearByListItem.ListName}}</a></h3>
                <h4 class="black-color">Created By : {{nearByListItem.creater_name}}</h4>
                
<button class="button button-custom-color col col-80" ng-click="goToSpin()" style="margin: 0 auto;">FUG IT</button>
                
            </div>
          <img src="img/food_bkgds/2-dark-50.jpg" class="hero-bkgd-image blurry-img">
        </div>



        <div class="button-bar" style="height: 65px;">
            <div class="col col-50 center-textAlign" ng-click="likeThisList();">
                <i data-count="{{likes.$value || 0}}" class="icon {{heartClass}} assertive badged_i badged_like"></i><br>Likes
<!--                <span style="font-size: x-large;"> {{likes.$value || 0}} </span>-->
            </div>
            <div class="col col-50 center-textAlign" ng-click="downLoad();">
                <i data-count="{{downloads.$value || 0}}" class="icon ion-android-download badged_i" ng-class="{ 'unselected':downloads.$value == 0, 'positive': downloads.$value > 0 }"></i><br>Download List
<!--                <span style="font-size: x-large;">{{downloads.$value || 0}}</span>-->
            </div>
          </div>
<!--         <div class="tabs tabs-dark tabs-icon-top static">
            <a ng-click="downLoad()" class="tab-item">
                <i class="button button-flat button-icon ion-android-download"></i><br> Download
            </a>
            <a ng-click="likeThisList();" class="tab-item">
                <i class="button button-flat button-icon {{heartClass}}"></i><br> Like
            </a>
        </div> -->


<!--       <div class="hover" style="border-bottom: 2px solid black;">
      <div class="row row-center" style="background-color: whitesmoke;">
        <div class="" style="margin: 0 auto;" >
            <h4>{{nearByListItem.ListName}}</h4>
            <h5>Created By : {{nearByListItem.creater_name}}</h5>
          </div>
  
      </div> -->
<!--           <button class="button button-icon {{heartClass}} likeButton" ng-click="likeThisList();"><span class="numOfLikes" style="padding: 5px; font-size: medium;">{{likes.$value || 0}}</span></button>
          <button class="button button-icon ion-arrow-down-a downloadButton" ng-click="downLoad()">
            <span class="numDownLoads" style="padding: 5px; font-size: medium;">13</span>
          </button> -->
<!--
          <div class="row" style="background-color: whitesmoke;">
              <div class="col col-20 col-offset-33">
            <button class="button button-icon ion-arrow-down-a">
            <span class="numDownLoads" style="padding: 5px; font-size: medium;">13</span>
          </button>
              </div>
              <div class="col col-20">
            <button class="button button-icon {{heartClass}}" ng-click="likeThisList();"><span class="numOfLikes" style="padding: 5px; font-size: medium;">{{likes.$value || 0}}</span></button>
              </div>
          </div>
-->
          
      <ion-scroll style="height: 45%;">
        <div class="list">
<!--           <div class="list" ng-repeat="items in nearByListItem.places track by $index">
              <div class="item item-thumbnail-left item-icon-right editMyListItem">
                  <img src="img/steak.JPG" />
                  <span class="item-text-wrap">{{items.name}}</span><br>
                  <span class="item-text-wrap">{{items.vicinity}}</span><br>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star-half"></i>
                  <i class="ion-ios-star-outline"></i>
                  <i class="ion-ios-star-outline"></i>
              </div>      
              
          </div> -->
              <div class="list card" ng-repeat="item in nearByListItem.places track by $index">
                  <div class="item item-avatar">
                      <img src="{{item.icon}}">
                      <h2 class="wrap-word">{{item.name}}</h2>
                      <p class="wrap-word">{{item.vicinity}}</p>
                      <span ng-repeat="n in [] | range:item.price_level"><i class="ion-social-usd"></i></span>
                  </div>
              </div>
        </div>
      </ion-scroll>
  </ion-content>
</ion-view>