<link href="../css/tab-myItemDetails-css.css" rel="stylesheet" />
<ion-view hide-tab-bar hide-nav-bar="false" hide-back-button="true" view-title="Viewing List" cache-view="false">

    <ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white;" ng-click="$ionicGoBack();">
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  <ion-content scroll="false" style="">
      <div class="list card">
      <div class="hero larger-hero" style="overflow: hidden;">
          <div class="row" style="">
        <div class="col col-center" style=""><img src="img/mapImg.png" style="width: 130px; display: block; margin: 0 auto; border-radius: 50%; border: 3px double rgb(127, 197, 195);"> </div>
<!--          <div class="col">1<br>2<br>3<br> 4<br>1<br>2<br>3<br> 4<br></div>-->
      </div>
      <div class="row row-center" style="">
        <div class="" style="margin: 0 auto; text-align: center;" >
            <h4 class="black-color">{{placeDetial.name}}</h4>
            <h5 class="black-color">{{placeDetial.vicinity}}</h5>
        </div>
        </div>
        <div class="row" style="">
          <div class="" style="margin: 0 auto;" >
              <i class="ion-social-usd"></i>
              <i class="ion-social-usd"></i>
          </div>
        </div>
          <img src="img/food_bkgds/24.jpg" class="hero-bkgd-image blurry-img" style="position: absolute;">
      </div>
      
      <div class="list">
        <div class="item" href="#">
            <table>
            <tr ng-repeat='day in placeDetial.weekday_text'>
                <td class="tableDateCell" style="width: 50%;">{{day}}</td>            
            </tr>  
            </table>  
            <table>
            <tr >
                <td class="tableDateCell" style="width: 100%;">Sorry No Hours of Operation For You! </td>
            </tr>  
            </table> 
        </div>
    </div>
      </div>
      
  </ion-content>
</ion-view>