
<ion-view view-title="Create New List">
        
    <ion-content>
      <h3>List edit</h3>
         
        <div class="row">

            <form class="">
                <input type="text" class="form-control" id="listInputField" g-places-autocomplete options="autocompleteOptions" ng-model="place"/>
            </form>
            <button class="button button-icon icon ion-ios-bolt-outline addToListButton" ng-click="addToList(place)"></button>
        </div>

        <ion-list class="list">
            
                <ion-item class="item" ng-repeat="item in placeList">
                    {{item.name}}
                    <ion-option-button class="button-assertive" ng-click="">
            <i class="icon ion-close"></i>
          </ion-option-button>
            </ion-item>
            
        </ion-list>
        
        <div class="row" ng-show="placeList.length >= 2">
        <button class="button button-balanced col col-30" ng-click="saveList()">Save</button>
        <button class="button button-energized col col-30 col-offset-10" ng-click="clearList()">Clear</button>
        </div>
        
<!--
            <h5>Result:</h5>
            <pre>{{place | json}}</pre>
-->
    </ion-content>

</ion-view>
