
<link href="css/ng-tags-input.bootstrap.css" rel="stylesheet">
<link href="css/ng-tags-input.css" rel="stylesheet">
<ion-view hide-tab-bar hide-nav-bar="false" hide-back-button="true" view-title="My Lists" cache-view="false">

<!--
<ion-nav-buttons side="left">
      <button class="button button-icon button-flat icon ion-ios-arrow-left" style="color: white;" ui-sref="tab.listDetails">
      </button>
    </ion-nav-buttons>
-->
    
     <!-- <div class="bar bar-header bar-assertive-900">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <button class="button button-icon button-clear ion-ios-arrow-left" ui-sref="tab.listDetails"></button>
            </span>
        </div>
        <div class="h1 title title-left light">Normal Header</div>
    </div> -->
    
    <ion-nav-buttons side="left">
      <button class="button back-button buttons no-text button-clear header-item" style="color: white; margin-right: 10px;" ng-click="$ionicGoBack(); ">
          <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons> 


    <ion-content ng-init="publicList = true;" class="has-header">
      <div class="list">
         <label class="item item-input">
                    <input placeholder="Name Your List" type="text" ng-model="listName">
                </label>
          <ion-toggle ng-model="publicList" ng-checked="true" toggle-class="toggle-calm">Make Your List Public?</ion-toggle>
          <ion-toggle ng-model="anon" toggle-class="toggle-calm" ng-checked="false" ng-show="publicList">Post anonymously?</ion-toggle>
<!--
          <label class="item item-input">
                    <input placeholder="Tags (optional)" type="text">
            </label>
-->
          <tags-input ng-model="tags">
            <auto-complete source="loadTags($query)"></auto-complete>
          </tags-input>
        </div>
        
        
        <button class="button button-full button-energized" ng-click="saveList(listName,tags,publicList,anon);">Next</button>

        
    </ion-content>

</ion-view>

