<!--<link href="css/tab-myList-css.css" rel="stylesheet" />-->
<ion-view view-title="My Lists" hide-nav-bar="true" cache-view="false" style="background-color: whitesmoke;">
<!--
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-plus-round" style="color: white;" ng-click="openListDetail()">
        
      </button>
    </ion-nav-buttons>
-->
    <ion-header-bar class="bar-stable item-input-inset"  ng-init="showInputBar = false; didStartEditing = false;">

<!--
      <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goBackAndShowTabBar(); $ionicGoBack();" ng-hide="showInputBar">
        Back
      </button>
-->
        
        <div class="title" style="color:white;">
            Add Item
        </div>

    </ion-header-bar>
<!--
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
-->
    <ion-content style="background-color: whitesmoke;">
<!--
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
-->
<!--        <ion-list>-->

<!--            style="margin: 3px auto; padding-bottom: 0; position: relative; height: 20vh;-->
        
<!--            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">-->
            <div ng-repeat="list in myLists track by $index" class="list animate-fade-slide-in-right" my-post-repeat-directive='mylist' >
            
                <div ng-click="goToEditListPage(list);" class="item item-avatar item-icon-right">
                    <img src="img/steak.jpg">
                    <h2>{{list.ListName}}</h2>
                    <p ng-repeat='tag in list.tags' style="">#{{tag.text}}</p>
                </div>
          </div>
            
<!--
            <ion-option-button class="button-positive" ng-click="shareListWithFriends(list)">
            Share
          </ion-option-button>
            <ion-option-button class="button-assertive" ng-click="deleteList(list)">
            Delete
          </ion-option-button>
-->

<!--            <img src="img/tile4.jpg" class="tileImage" style="" />-->
<!--      </ion-list>-->
<!--
      <ion-list>
        <ion-item ng-repeat="list in myLists track by $index" class="item item-thumbnail-left" ng-click="goToEditListPage(list);" style="margin: 5px 0; border-top: 3px solid cadetblue; padding-bottom: 0;">
        <img src="img/steak.jpg" />
          {{list.ListName}}
          <p>#bakery #yum #gottaHaveIt</p>
          
            <ion-option-button class="button-positive" ng-click="shareListWithFriends(list)">
            Share
          </ion-option-button>
            <ion-option-button class="button-assertive" ng-click="deleteList(list)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
-->
        
        
<!--
        <ion-list>
        <ion-item ng-repeat="(k,v) in myTableLists track by $index" class="item item-thumbnail-left" ng-click="goToEditListPage(k);" style="margin: 5px 0; border-top: 3px solid orange; padding-top: 0;">
        <img src="img/steak.jpg" />
          {{v.ListName}}
          <p>#bakery #yum #gottaHaveIt</p>
            <i class="icon ion-ios-people right-side"></i>
          
             <ion-option-button class="button-balanced" ng-click="editList(list)">
            Edit
          </ion-option-button> 
            <ion-option-button class="button-assertive" ng-click="deleteTable(k)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
-->
        <ion-list class="shared-lists">
        <ion-item ng-repeat="(k,v) in myTableLists track by $index" class="item tileBackground" ng-click="goToEditListPage(k);" style="margin: 3px auto; padding-bottom: 0; position: relative; height: 20vh;">
            <i class="icon ion-ios-people right-side" style="color: black;"></i>
            
             <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
            <div class="row" style="padding-bottom: 15px;">
                <div class="" style="margin: 0 auto;">
                    <h2 style="font-size: larger;">{{v.ListName}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="" style="margin: 0 auto;">
                    <p ng-repeat='tag in v.tags'>#{{tag.text}}</p>
                </div>
            </div>
          </div>
            
            <ion-option-button class="button-assertive" ng-click="deleteTable(k)">
            Delete
          </ion-option-button>
<!--             <img src="img/tile5.jpg" class="tileImage" />-->
        </ion-item>
      </ion-list>
    </ion-content>

</ion-view>



<script id="shareListWithFriends-Popup.html" type="text/ng-template">
  <div>
      <div class="item-input-inset" style="padding-left: 0; padding-right: 0;">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search_bar">
        </label>
      </div>
      <ul class="list">
        <li class="item item-checkbox" ng-repeat="friend in friends | filter:search_bar">
          <label class="checkbox">
            <input type="checkbox" ng-model="checked" ng-click="addFriendToList(friend, checked);">
          </label>
            {{friend.name}}  
          </li>
      </ul>
  </div>
</script>

<!--
<script id="viewList-Popup.html" type="text/ng-template">
  <div>
    <li class="item item-checkbox" ng-repeat="l in list.places">
            {{l.name}}  
        </li>

  </div>
</script>-->
