<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-nav-bar class="bar-teal-color" ng-class="{expanded: isExpanded, &apos;has-header-fab-left&apos;: hasHeaderFabLeft, &apos;has-header-fab-right&apos;: hasHeaderFabRight}" align-title="center">

<!--        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, &apos;has-header-fab-left&apos;: hasHeaderFabLeft, &apos;has-header-fab-right&apos;: hasHeaderFabRight}" align-title="left">-->


    <ion-nav-back-button>
    </ion-nav-back-button>

    <!-- <button id="fab-friends" class="button button-fab button-fab-top-right expanded button-energized-900 spin pane on" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);"><i class="icon ion-plus"></i></button> -->

</ion-nav-bar>
<ion-nav-view name="fabContent"></ion-nav-view>
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-teal-color">

  <!-- My Lists Tab -->
  <ion-tab title="My Lists" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ng-click="goTab('mylist')"><!-- ui-sref="tab.myList" -->
    <ion-nav-view name="tab-myList"></ion-nav-view>
  </ion-tab>

    <!-- Lists Near Me Tab -->
  <ion-tab title="Groups Near Me" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" ng-click="goTab('listnearme')"><!--  ui-sref="tab.listNearMe" -->
    <ion-nav-view name="tab-listNearMe"></ion-nav-view>
  </ion-tab>

   <!-- Decision table Tab -->

 <!--  <ion-tab title="Decision Table" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab> -->

    
    <!-- Decision table Tab -->
  <ion-tab title="Friends" icon-off="ion-person-stalker" icon-on="ion-person-stalker" ng-click="goTab('friend')" class="friendTab"> <!--  ui-sref="tab.friendList" -->
    <ion-nav-view name="tab-friendList"></ion-nav-view>
  </ion-tab>
    
  <!-- User Account Tab -->
  <ion-tab title="My Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ng-click="goTab('account')" ><!-- ui-sref="tab.account" -->
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
    
<!--
 test Account Tab-->
<!--
  <ion-tab title="Spin" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/spin">
    <ion-nav-view name="tab-spin"></ion-nav-view>
  </ion-tab>
-->


</ion-tabs>
