.main-color{
  background-color: rgb(237, 111, 112) !important;
  border-color: rgb(237, 111, 112);
  color: white;

}
/* Empty. Add your own CSS if you like */
.addToListButton{
    margin-top: -10px;
}

.stayHere{
position: absolute;
    top: 0px;
}

/*** Login Page ***/
.centerRow{
    margin-top: 5vh;
}

.app-title {
  display: table;
    margin: 15vh auto 0 auto;
}

.facebook-sign-in {
  background-color: #3B5998;
    color: white;
    border: none;
}

.google-sign-in {
  background-color: #DC4E41;
    color: white;
    border: none;
}

.login-bkgd{
    background-image: url(/img/dark-blue-gradient.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: cadetblue;
}

.blurred-bkgd {
	background-image: url(/img/151011_Riposte_Nova__006_F2_670.jpg); 
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

.blurry-img{
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

/** Sign Up Modal **/

.list-inset-cp{
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    /* background-color: #fff; */
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

/*** TAB-MYlIST ***/

.non-white-bg{
    background-color: whitesmoke;
}

.list_description {
  opacity: 0.9;
    margin-top: 5px;
    width: 55vw;
    
    word-wrap: break-word;
}

.list_tags {
  position: absolute;
    bottom: 2px;
    opacity: 0.7;
}


/*** TAB-listAdd ***/

.outline-button{
    color: green; !important
    border: 1px solid green;
}

.list-item{
  border: none;
  padding-top: 7px;
    padding-bottom: 7px;
}

/*** TAB-listAdd ***/
.list-category-item{

  max-height: 100px;
}

.table-cell{

  display: table-cell;
}

.thumbnail{
      max-width: 75px;
}

.list_header{
    opacity: 0.5;
    margin-bottom: 1px
}

/** IONIC **/
.item{
    position: relative;
}