body{
    background-color: whitesmoke;
/*    font-family: 'PT Sans', sans-serif !important;*/
    font-family: 'Roboto', sans-serif !important;
}

.blackColor{
    color: black;
}

.main-color{
  background-color: rgb(237, 111, 112) !important;
  border-color: rgb(237, 111, 112);
  color: white;

}
/*

.tabs-hide .tabs {
    display: none;  
}

.tabs-show .tabs {
    display: flex;
}
*/

/* Empty. Add your own CSS if you like */


.blurred-bkgd {
	background-image: url(/img/151011_Riposte_Nova__006_F2_670.jpg); 
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

.blurry-img{
/*
    position: absolute;
    top: -30px;
    left: -30px;
*/
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

/** Sign Up Modal **/

.list-inset-cp{
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    /* background-color: #fff; */
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

/*** TAB-MYlIST ***/


/*** TAB-listAdd ***/

/*** TAB-listAdd ***/

.thumbnail{
      max-width: 75px;
}


/** IONIC **/
/*.item{
    position: relative;
}*/

/** EDIT LIST NEAR ME **/


.item .item-content {
	padding: 0 !important;
}


/*.editListItems .item{
    margin: 5px 10px;
    width 97%;
}*/

/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu-open .bar.bar-header.hideNavBar {
    display: none;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/login_page_pic.jpg') center;
    border: 2px solid white;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.social-login {
    position: fixed;
    bottom: 0;
}



.myListTagsContainer{
    width: 100%;
}

.myListTags{
    color: lightgray;
    display: inline;
    margin-right: 5px;
}

.myListItem{
/*    border-bottom: 3px solid rgba(152,152,152, .5) !important; */
    height: 80px;
/*    padding-top: 10px !important; */
}

.no-Shadow{
    box-shadow: none !important;
}

.myListGroupIcon {
	    top: -15px !important;
    font-size: x-large !important;
}

.button-fab{
  z-index: 9999 !important;
  position: fixed !important;
}
.button back-button buttons no-text button-clear header-item hide{
    display: block !important;
}

.editMyListItem{
/*    border-bottom: 1px solid rgba(152,152,152, .5) !important;*/
    height: 110px;
}

.center-div{
    text-align: center;
    text-align: -webkit-center;
}

.small-content{
        position: relative !important;
        padding-top: 20px;
}

.hero-content{
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center-margin {
    display: block;
	margin: 0 auto;
}

.center-textAlign{
    text-align: center;
}

.less-padding{
        padding-left: 10px !important;
    padding-right: 10px !important;
}

.itemc{
    background-color: white;
    height: 80px;
}

.wrap-word{
    white-space: normal !important;
    word-wrap: break-word !important;
}

.list-image{
/*box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); */
    max-width: 50px !important; 
    max-height: 50px !important;
}

.custom-font1{
/*font-family: 'Architects Daughter', cursive !important;*/
/*    font-family: 'Raleway', sans-serif;*/
    /*  Open Sans*
        Roboto
        Lato
        !Roboto Condensed
        !Source Sans Pro
        Raleway
        PT Sans
        !Open Sans Condensed
    */
/*    font-family: 'PT Sans', sans-serif;*/
        font-family: 'Roboto', sans-serif !important;

}

 .bar-teal-color { /* https://www.google.com/design/spec/style/color.html#color-color-palette */
    border-color: #00695C; /* teal -800 */
    background-color: #009688;/* teal -500 */
    background-image: linear-gradient(0deg, #00695C, #00695C 50%, transparent 50%);
    color: #fff; }

.tabs-teal-color {
  border-color: #009688 !important;
  background-color: white !important;
  background-image: linear-gradient(0deg, #009688, #009688 50%, transparent 50%) !important;
  color: gray !important; }

.tabs{
background-color: white;
    color: gray;
    border-top: 1px solid #009688;
}
ion-tabs.tabs-color-active-positive .tab-item{
    color: gray;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #009688; }

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    font-size: 2.5em;
    color: #fff;
    line-height: 65px;
    text-align: center;
     background: #009688; 
    border: 3px solid white;
    margin-left: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); 
    padding: 0;
}

.vertical-center{
    position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
    width: 100vw;
}

.button-custom-color{
/*    background-color: #F9A825;*/
/*    border-color: #F9A825;*/
    background-color: #E65100;
    border-color: #E65100;
    color: white;
        border-radius: 20px;
    box-shadow: none;
}

.button-custom-color-outline {
/*        border-color: #F9A825 !important;*/
/*    color: #F9A825 !important;*/
    border-color: #E65100 !important;
    color: #E65100 !important;
        border-radius: 20px;
    box-shadow: none;
}
.button-custom-color:hover {

    color: white !important;
}

.button-custom-color-outline-light {
/*        border-color: #F9A825 !important;*/
/*    color: #F9A825 !important;*/
    border-color: #FF9800 !important;
    color: #FF9800 !important;
        border-radius: 20px;
    box-shadow: none;
}

.spin-button-custom-color-outline {
/*        border-color: #F9A825 !important;*/
/*    color: #F9A825 !important;*/
    border-color: #E65100 !important;
    color: #E65100 !important;
        border-radius: 20px;
    box-shadow: none;
}

.item-close-button{
    position: absolute;
    top: -5px;
    right: -25px;

}

.avatar-image{
    max-width: 70px !important;
    max-height: 70px !important;
    border-radius: 50%;
    border: 5px double #F9A825;
}

.avatar-padding-bottom{
    padding-bottom: 10px;
}

.selected{
    color: #0c60ee; /* button positive color */
}

.unselected{
    color: lightgray;
}

.padding-bottom-30{
    padding-bottom: 30px;
}

.white-bg{
    background-color: white;
}

.whiteSmoke-bg{
    background-color: whitesmoke;
}

.close-modal {
	    right: 0;
    position: absolute;
        color: whitesmoke !important;
    margin-top: 10px;
}

.editMyListTags{
    display: inline;
}

.shuffle_container{
    width: 80%; 
    height:60%; 
    margin: 0 auto; 
    padding: 20px; 
    position: relative; 
    text-align:center;
}

.center-table {
    display: table;
    width: 80%; 
    height:60%; 
    margin: 0 auto; 
    padding: 20px; 
}
.center-table h3 {
  display: table-cell;
  margin: 0;
  background: black;
  color: white;
  padding: 20px;
/*  border: 10px solid white;*/
  vertical-align: middle;
}

.badged_like:after{
    content: attr(data-count); 
    position: absolute;
    background: rgba(0,0,255,1);
    min-height: 1rem;
    top: .2rem;
    min-width: 1rem; 
    max-width: 1.5rem;
    text-align: center;
    font-size: .8rem;
    border-radius: 50%;
    color: white;
    border: 4px solid blue;
    /* vertical-align: middle; */
    right: -10px;
    line-height: .8rem;
    max-height: 1.5rem;
}
.badged_i{
    font-size: 2rem;
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
}

.badged_download:after{
    content: attr(data-count);
    position: absolute;
    background: rgba(0,0,255,1);
    min-height: 1rem;
    top: .3rem;
    min-width: 1rem; 
    max-width: 1.5rem;
    text-align: center;
    font-size: .8rem;
    border-radius: 50%;
    color: white;
    border: 4px solid blue;
    /* vertical-align: middle; */
    right: -5px;
    line-height: .8rem;
    max-height: 1.5rem;
}

.modal-background{
    background-color: #009688;/* teal -500 */
/*    background-image: linear-gradient(0deg, #00695C, #00695C 50%, transparent 50%);*/
    color: #fff;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  border-color: #009688 !important; }

.toggle input:checked + .track{
/*        border-color: #F9A825;*/
/*    background-color: #F9A825;*/
    border-color: #E65100;
    background-color: #E65100;
}

tags-input .tags .tag-item .remove-button{
    color: white !important;
}

.notDownloaded{
    color: lightgray !important;
}

.vertical-align-middle{
/* position: absolute;*/
/*
    text-align: center;
    width: 100%;
*/
/*    z-index: 1;*/
    top: 50% !important;
    left: 50%;
    transform: translate(-50%,-50%);
}
.friend-modal-input-box{
    background-color: rgba(0,0,0,0) !important;
    color: whitesmoke !important;
/*    border-radius: 20px !important;*/
    padding-left: 10px !important;
    border-bottom: 1px solid rgba(255, 255, 255, .5)!important;
}

.hero-bkgd-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

.black-color{
    color: black !important;
}

.spin-message-box{
    padding: 2px !important;
    padding-left: 10px !important;
}

.spin-message-box a{
    padding: 0 !important;
    color: green !important;
    font-size: x-large !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.larger-hero{
    height: 250px !important;
}

.login-input-box{
    border-radius: 20px;
    width: 90vw;
}

.login-input-box input{
    border-radius: 20px;
}

.list-detail-input{
    background-color: rgba(237, 111, 112, 0.1); 
    padding: 25px 15px;
    border-radius:   20px;
}

.change-password-input-box{
    background-color: rgba(0,0,0,.1) !important;
    color: black !important;
}

.margin-left{
        margin-left: 0;
}

.qrCode{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.coupoun {
	    width: 90%;
    background-color: white;
    height: 60px;
    margin: auto;
    border: 5px double grey;
    font-size: 2.7em;
    padding-top: 5px;
}

.list-sidebar-image{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    max-width: 70px !important;
    max-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0% !important;
/*    background-color: cadetblue;*/

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

/*    border-left: 5px solid cadetblue;*/
        background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

.list-sidebar-image img {
    /* max-width: 100%; */
    max-height: 100%;
    width: 100%;
    min-height: 70px;
    box-shadow: none !important;
/*
    border-top: 2px;
    border-bottom: 2px;
    border-image: linear-gradient( to right, rgba(0,0,0,0), cadetblue 45%, cadetblue 50%, rgba(0,0,0,0) );
    border-image-slice: 1;
*/
    border-radius: 50%
}

.place-list-key-icon{
    width: 20px;
    font-size: 1.5em;
    margin-right: 15px;
}

.place-item-list{
    vertical-align: middle !important;
    display: flex !important;
     border-bottom: 1px rgba(190, 190, 190, .5) !important;
/*
    border-image:
        linear-gradient(
      to right,
      rgba(0,0,0,0),
      gray 45%,
      gray 50%,
      rgba(0,0,0,0) 
    ) !important;
    */
    border-image-slice: 20% !important;

}

.item-md-label input {
     background-color: transparent !important; 
    border-bottom: 1px solid lightgray !important;
}

/*
.item-md-label .input-label {
    color: rgba(255, 255, 255, .5) !important;
}
*/

.loginPageInput .input-label {
	color: rgba(255, 255, 255, .5) !important;
}

.accountInput {
    margin-top: 10px;
}

.accountInput input{
    color: black;
}
.accountInput .input-label{
    color: darkgrey !important;
}

.button-custom-200 {
	    background-color: #4DB6AC !important;
        color: white !important;
}

.bar .title.title-left {
    text-align: center;
/*    left: 40px !important;*/
}

.bar.bar-header .button+.title {
    text-align: center !important;
     left: 0px; 
    line-height: 60px !important;
}

.button-outline.button-outline.active,
    .button-outline.button-outline.activated {
      background-color: #E65100 !important;
      box-shadow: none;
      color: #fff !important; }

.button.active,
  .button.activated {
    border-color: #E65100 !important;
    background-color: transparent !important;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }

.button-custom-color-outline-light.button-outline.button-outline.active,
    .button-custom-color-outline-light.button-outline.button-outline.activated {
      background-color: #FF9800 !important;
        border-color: #FF9800 !important;
      box-shadow: none;
      color: #fff !important; }

.bar .button.button-fab, .button.button-fab {
    box-shadow: 0 4px 5px 1px rgba(0,0,0,.26) !important;
}

.custom-useravatar .generic-avatar {
	left: 0 !important;
}

.custom-useravatar .name{
    right: 0 !important;
}