.headerImage{
  width: 100vh; 
    height:;
    position: absolute;
    top: 0;
    opacity: 0.3;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    z-index: -1;
}

.hover {
	background-image: url(../img/12.png);
    background-size: 100% 100%;
}