.useravatar{
/* margin-bottom: 5px; */
}
.generic-avatar {
    top: 5px;
	width: 56px;
	height: 56px;
	border-radius: 56px;
	background: transparent;
	box-shadow: none;
	position: relative;
}
.color {
  display:block;
	background: transparent;
	border-radius: 56px;
	height: 56px;
}
.name {
	position: absolute;
	color: #fff;
	font-weight: 100 !important;
	font-size: 25px ;
	top: 18px;
	min-width: 56px;
	text-align: center;
}

.generic-avatar img {
	top: 1px;
	width: 56px;
	height: 56px;
	background-size: contain;
	border-radius: 56px;
	position: absolute;
	
}